:root{
  --header-font: 'Shrikhand', cursive;
  --body-font: 'Quicksand', sans-serif;
  --cream: #FFF1E6;
  --pink: #FDE2E4;
  --blue: #BEE1E6;
  --b: #000000;
  --w: #ffffff;
}

body {
  background-image: linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(-45deg, #000000 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #000000 75%), linear-gradient(-45deg, transparent 75%, #000000 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.jumbotron {
  text-align: center;
  background-color: var(--pink);
  color: var(--b);
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 0;
}

.display-3 {
  font-family: var(--header-font);
  font-size: 80px;
}

.lead {
  font-family: var(--body-font);
  font-size: 30px;
}

#currentDay, #currentWeekday {
  font-size: 25px;
}

.timeDate {
  font-family: var(--body-font);
  display: flex;
  justify-content: center;
}

.description{
  white-space: pre-wrap;
}

.past {
  background-color: var(--blue);
  color: var(--b);
}

.present {
  background-color: var(--cream);
  color: var(--b);
}

.future {
  background-color: var(--pink);
  color: var(--b);
}

.hourBlocks {
  margin: 10px;
  text-align: center;
  font-family: var(--body-font);
  border-radius: 15px;
}

.hourTitle {
  font-size: 25px;
}

.form-group {
  height: 100px;
}

.form-inline {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: var(--cream);
  color: var(--b);
}

.btn:hover {
  background-color: var(--b);
  color: var(--cream);
}

.form-control {
  background-color: var(--b);
  color: var(--cream);
}

.form-control:focus, .form-control:hover {
  background-color: var(--cream);
  color: var(--b);
}